/* GENERAL */

body{
    margin: 0;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav li{
    line-height: 3rem;
}

nav a{
    color: #ddd;
    display: block;
    padding: 0 2.5em;
    text-decoration: none;
    transition: .6s;
}

nav a:hover{
    background: rgba(0, 0, 0, .5);
}

/* MENU PRIMER NIVEL */

.menuPrincipal{
    background: #333;
    display: table;
    width: 100%;
}

.menuPrincipal > li{
    float: left;
}